@import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Rubik:wght@500&family=Tektur:wght@500&family=Dancing+Script:wght@700');

$background-color: #dedde4;
$font-color: #2f3541;
$bar-color: #b770b0;
$icon-color: #6a6181;
$additional-color: #72516c;

$default-font: 'Lunasima', sans-serif;
$menu-font: 'Tektur', cursive;
$special-font: 'Dancing Script', cursive;
$title-font: 'Rubik', sans-serif;

$logo-size: 3em;
$default-size: 24px;
$title-size: 2.4em;
$small-text: 0.7em;
$menu-size: 1.5em;
